<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Уход за цветами</title>
    {% include 'pc_headers.html' %}
</head>
<body id="body">
<!-- Страница доставки -->
<div class="catalog">
    <div class="container">
        <div class="place_breadcoast">
            <a href="/">Главная</a> / <a href="/freshnessinstruction" class="active_page" id="active_page">Уход за
            цветами</a>
        </div>
        <h1 class="catalog_zag" style="margin-top: 40px; margin-bottom: 20px;">Уход за цветами</h1>
        <div class="description_explanations" style="font-size: 22px">
            Команда «Весёлого Одувана» заботится не только о красоте и свежести цветов, но и о качественной и
            своевременной доставке.
            Наша курьерская служба быстро, бережно и с улыбкой доставит Ваш заказ получателю.
        </div>
    </div>
</div>


<div class="container" style="margin: 20px auto">
    <div class="catalog_flex_catalog">
        <div class="blog_art_text description_explanations"
             style="line-height: 130%;width: 100%;">
            <div>
                <ul style="padding-left: 25px;">
                    <li class="wedding_item">
                        <div class="catalog_zag" style="margin-bottom: 10px; font-size: 24px">Памятка по уходу за
                            букетом.
                        </div>
                        <div class="flex_add">
                            <div class="list_style"></div>
                            <span>Подготовьте вазу.</span>
                        </div>
                    </li>
                    <li class="wedding_item">
                        <div class="catalog_zag" style="margin-bottom: 10px; font-size: 24px">
                            Наполните вазу прохладной водой, добавьте содержимое пакетика Chrysal.
                        </div>
                        <div class="flex_add">
                            <div class="list_style"></div>
                            <span>Подготовьте цветы.</span>
                        </div>
                    </li>
                    <li class="wedding_item">
                        <div class="catalog_zag" style="margin-bottom: 10px; font-size: 24px">Подрежьте стебли под
                            струей воды под углом 45 гр на 1,5-2 см. Уберите лишнюю листву и шипы –
                            они не
                            должны касаться воды в вазе.
                        </div>
                        <div class="flex_add">
                            <div class="list_style"></div>
                            <span>Поместите букет в вазу, Поставьте вазу в прохладном месте без сквозняка, вдали от прямых
                            солнечных
                            лучей и фруктов.</span>
                        </div>
                        <div class="flex_add">
                            <div class="list_style"></div>
                            <span>Ежедневно мойте вазу, обновляйте воду и подрезайте стебли.</span>
                        </div>
                        <div class="flex_add">
                            <div class="list_style"></div>
                            <span>Наслаждайтесь своим букетом. Покажите его друзьям в инстаграм и не забудьте отметить
                            нас
                            @одуван.</span>
                        </div>
                    </li>
                    <li class="wedding_item">
                        <div class="catalog_zag" style="margin-bottom: 10px; font-size: 24px">Памятка по уходу за цветочной композицией.</div>
                        <div class="flex_add">
                            <div class="list_style"></div>
                            <span>Поставьте цветочную композицию в прохладном месте без сквозняка, вдали от прямых
                            солнечных
                            лучей и
                            фруктов.</span>
                        </div>
                        <div class="flex_add">
                            <div class="list_style"></div>
                            <span>Поливайте композицию 1 раз в 3 дня. Лейте воду у основания стеблей, не попадайте на
                            бутоны.</span>
                        </div>
                        <div class="flex_add">
                            <div class="list_style"></div>
                            <span>Извлекайте из коробки опавшие на флористическую губку листья и увядающие цветы. Так вы
                            предотвратите
                            гниение вашей композиции.</span>
                        </div>
                        <div class="flex_add">
                            <div class="list_style"></div>
                            <span>Наслаждайтесь своей цветочной композицией. Покажите ее друзьям в инстаграм и не забудьте
                            отметить нас.</span>
                        </div>

                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>


{% include 'pc_utilites.html' %}

<script>
    {#let id = {{ id }};#}
</script>
</body>
</html>