<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Вакансии</title>
    {% include 'pc_headers.html' %}
</head>
<body id="body">
<!-- Страница доставки -->
<div class="catalog">
    <div class="container">
        <div class="place_breadcoast">
            <a href="/">Главная</a> / <a href="/vacancies" class="active_page" id="active_page">Вакансии</a>
        </div>
        <h1 class="catalog_zag" style="margin-top: 40px; margin-bottom: 20px;">Вакансии</h1>
    </div>
</div>

<div class="catalog" style="min-height: 483px">
    <div class="container">
        <div class="catalog_flex_catalog">
            <div class="blog_art_text description_explanations" style="line-height: 130%; padding-left: 0; width: 100%;">
                <h2 style="font-size: 40px; margin-bottom: 30px;">Флорист</h2>
                <div style="font-size: 30px; margin-bottom: 20px;">
                    Вы можете стать частью "Веселый Одуван"
                </div>
                <p style="font-size: 24px">Направьте заявку на:</p>
                <div class="connection">
                    <a  style="color: #F877AD; margin-bottom: 10px" href="tel:89204650703">- whatsapp - 89203650703</a>
                    <a style="color: #F877AD" href="mailto:vacancyoduvan@yandex.ru">-почту vacancyoduvan@yandex.ru</a>
                </div>
                <div style="font-size: 30px; margin-top: 80px">
                    К рассмотрению принимаются заявки с "Резюме" и "Портфолио работ".
                </div>
            </div>
        </div>
    </div>
</div>



{% include 'pc_utilites.html' %}

<script>
    {#let id = {{ id }};#}
</script>
</body>
</html>